# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# App temporary files
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
